
.cheese-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.cheese-image {
    max-width: 75%; /* Ensure the image is responsive */
    height: auto; /* Maintain aspect ratio */
}