/* Styling for ul */
nav ul {
    list-style-type: none; 
    padding: 0;           
    margin: 0;            
    display: flex;        
  }
  
  /* Add margins between list items */
  nav ul li {
    margin-right: 20px;   
  }
  
  /* remove margin for last item */
  nav ul li:last-child {
    margin-right: 0;     
  }

  .title {
    font-size: 4em;
    font-weight: bold;  
    margin: 20px;
  }

  .title a {
    color: #f9f7b3; 
    text-decoration: none; 
  }

  .title a:hover {
    color: #f9f7b3;
  }

  .cheese-logo {
    width: 50px;
    height: 50px;
  }